.reviews-view {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.reviews-panels {
  display: flex;
  gap: 20px;
  min-width: 500px;
}

#reviews-title {
  margin: 0;
  margin-bottom: 10px;
}

.review-meta {
  width: 35%;
}

.review-meta-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.review-meta-avg-rating {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5px;
}

#review-meta-avg-rating-number {
  font-size: 3em;
  margin-right: 10px;
}

.review-meta-avg-rating-stars-amount {
  line-height: 1.1;
}

#review-meta-total-rating-count {
  font-size: 0.9em;
}

.review-meta-recommended {
  gap: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
  margin-bottom: 5px;
}
/*
.review-meta-avg-rating-breakdown {

}
 */
.review-meta-title {
  margin-top: 5px;
  margin-bottom: 10px;
}

.review-meta-filters {
  margin-bottom: 5px;
  padding: 10px;
  color: var(--text-theme-color);
  background-color: var(--header-divider-color);
}

.review-meta-filters .MuiButton-root {
  margin-top: 5px;
}

.review-meta-filters-entry {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}
/*
.review-meta-filters-entry .MuiIcon-root {
  color: var(--header-divider-color);
}
 */
#review-meta-filters-title {
  font-weight: bold;
}

.review-meta-avg-rating-breakdown-entry {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.review-meta-avg-rating-breakdown-entry:hover {
  color: var(--text-theme-color);
  background-color: var(--header-divider-color);
}

.review-meta-avg-rating-breakdown-stars {
  margin-bottom: 2px;
}

.review-meta-characteristics-entry {
  margin-bottom: 20px;
}
/*
.review-meta-characteristics-entry .MuiSlider-thumb {
}
 */
/*
.review-meta-characteristics-entry .Mui-disabled {
}
 */
.review-meta-characteristic-labels, .review-form-characteristic-labels {
  display: grid;
  grid-auto-flow: column;
  /* grid-auto-columns: 1fr; */
  align-items: center;
  /* word-break: break-word; */
  margin-top: 5px;
}

#review-meta-characteristic-left, #review-form-characteristic-left {
  text-align: left;
}

#review-meta-characteristic-title {
  text-align: center;
  font-size: 1.2em;
}

#review-form-characteristic-title {
  text-align: center;
}

#review-form-characteristic-center {
  text-align: center;
}

#review-meta-characteristic-right, #review-form-characteristic-right {
  text-align: right;
}

.review-form-characteristic-labels {
  grid-auto-columns: 1fr;
}

.review-form-image-modal-entry {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

textarea {
  resize: none;
}

.review-list {
  max-width: 800px;
  width: 65%;
  padding: 0px 10px 10px 10px;
}

.review-list-top {
  margin-bottom: 10px;
}

.review-list-entries {
  max-height: 620px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.review {
  background-color: var(--popup-theme-color);
  padding: 15px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.review-buttons {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

.review-topline {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*
.review-rating {

}
 */
.review-name-date {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.review-name {
  font-weight: bold;
}
/*
.review-date {

}
 */
.review-rating {
  display: flex;
  align-items: center;
  margin-right: 10px;

}

.review-summary {
  font-size: 1.2rem;
  font-weight: bold;
}

.review-body-long {
  margin-bottom: 0px;
}

.review-body-short {
  margin-bottom: 15px;
}

.review-body-long {
  margin-bottom: 0px;
}

.review-response {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #333333;
}

.review-recommended {
  gap: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.review-helpful {
  margin-right: 10px;
}

.review-report {
  margin-left: 10px;
}

#report-text {
  text-decoration: underline;
}

.review-images {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.review-image-preview {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-top: 10px
}

.review-image-preview:hover {
  outline-style: solid;
  outline-width: 1px;
  outline-offset: -1px;
}

.review-bottomline {
  display: flex;
  justify-content: flex-start;
}

/* .review-form-rating, .review-form-recommend {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.review-form-input {
  width: 100%;
}

.review-form-title {
  font-size: 1.2rem;
}

.review-form-entry {
  margin-top: 10px;
  margin-bottom: 10px;
}

.review-form-input {
  margin-top: 5px;
}

#review-form-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  line-height: 0;
}

/* #review-form-recommend {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
} */

#review-form-recommend-inputs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#review-form-body-entry {
  min-height: 150px;
}

#review-form-characteristics-entry {
  margin-top: 10px;
  margin-bottom: 10px;
}

#review-form-error {
  color: red;
}
