
.reviews-view {
  padding: 10px;
}

.reviews-panels {
  display: flex;
  justify-content: flex-start;
  min-width: 550px;
  gap: 20px;
}

.review-meta {
  width: 35%;
}

.review-meta-topbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.review-meta-avg-rating {
  display: flex;
  align-items: center;
  font-size: 3em;
}

.review-meta-recommended {
  gap: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
}

.review-meta-avg-rating-breakdown {
  margin-top: 10px;
}

.review-meta-characteristics {
  margin-top: 40px;
}

.review-meta-labels {
  display: flex;
  justify-content: space-between;
}

#review-meta-characteristic {
  font-size: 1.2em;
}

.review-meta-avg-rating-breakdown-entry {
  margin-top: 15px;
}
/*
#review-meta-avg-rating-breakdown-key {

}
 */
.review-meta-characteristics-entry {
  margin-top: 20px;
}

#review-meta-avg-rating-number {
  margin-right: 10px;
}

.review-list {
  width: 65%;
  padding: 0px 10px 10px 10px;
}

.review {
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: solid;
  border-width: 0 0 2px 0;
}

.review-topline {
  display: flex;
  justify-content: space-between;
}
/*
.review-rating {

}
 */
.review-name-date {
  display: flex;
  justify-content: space-between;
}

.review-name {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}
/*
.review-date {

}
 */
.review-helpful {
  margin-right: 10px;
}

#helpful-text {
  text-decoration: underline;
}

.review-report {
  margin-left: 10px;
}

#report-text {
  text-decoration: underline;
}

.review-images {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.review-img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-top: 10px
}

.review-bottomline {
  display: flex;
  justify-content: flex-start;
}
