@font-face {
  font-family: 'Elan';
  src: url('./fonts/ElanRegular.ttf') format('ttf'),
}

html,
body {
  margin-top: 10rem;
  margin-left: 1rem;
}

/* Navigation bar */
.main-header {
  font-family: 'Elan';
}

.secondary-header {
  font-size: 0.75rem;
}

.view-navigation {
  position: fixed;
  z-index: 999;
}

/* Related products carousel and cards */
.carousel {
  /* border: 2px solid black; */
  width: 680px;
  margin: auto;
}

.related-card {
  flex-direction: column;
  /* border: 2px solid red; */
  position: relative;
  width: 220px;
  height: 300px;
}

.related-card:hover {
  cursor: pointer;
}

.card-img {
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: center;
  width: 65%;
  height: 50%;
  object-fit: contain;
  overflow: hidden;
  margin: auto;
}

.card-content {
  /* border: 2px solid grey; */
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 0.5em;
}

.card-description:nth-child(1) {
  color: #666;
  font-size: 0.75em;
}

.card-description:nth-child(2) {
  flex-basis: 30%;
  font-size: 1;
}

.card-description:nth-child(3) {
  font-size: 1em;
}

.no-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  width: 100%;
  height: 50%;
  margin: 1;
}

.card-rating {
  display: flex;
  align-items: center;
  font-size: 0.75em;
  color: #666;
}

/* Related product card content */
.strike-original-price {
  text-decoration: line-through;
  font-size: 0.75em;
  opacity: 0.5;
}

.original-price {
  font-size: 0.75em;
}
.sale-price {
  color: red;
  font-size: 0.75em;
}

.discount {
  font-size: 0.75em;
}

/* Comparison Modal */
.comparison-modal {
  /* border: 2px solid #D7DBDD; */
  position: relative;
  background-color: white;
  height: 150px;
  width: 300px;
  align-items: left;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  padding-left: 0.5em;
  padding-right: 0.5em;
  overflow-y: auto;
}

::-webkit-scrollbar {
  background: #fff;
}

.popup-arrow {
  color: transparent;
}

.comparison-button {
  display: inline;
  position: fixed;
  margin-top: 0.5em;
  margin-right: 0.5em;
  right: 0;
  border-radius: 50%;
}

.comparison-button:hover {
  background-color: #EBEDEF;
}

.comparison-header-container {
  /* border: 2px solid black; */
  position: sticky;
  top: 0;
  background-color: white;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}

.comparison-title {
  text-align: left;
  font-size: 0.75em;
  color: #666;
}

.comparison-content {
  /* border: 2px solid purple; */
  display: flex;
  justify-content: space-evenly;
}

.comparison-content > * {
  /* border: 2px solid gold; */
  flex: 1;
  flex-basis: 100%;
  text-align: center;
  font-size: 0.75em;
}

.comparison-values {
  padding-top: 4em;
}

.product-comparator {
  /* border: 2px solid greenyellow; */
  font-weight: 900;
}



/* For product comparison modal */
@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}